/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar

/solr/example/example-schemaless/solr/collection-symfony-1/data/*
!/solr/example/example-schemaless/solr/collection-symfony-1/data/.gitkeep
/solr/example/logs/*
!/solr/example/logs/.gitkeep
