{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-12" style="padding-top: 50px;">
            <div class="jumbotron">
                <h1>Demo Slor Playground</h1>

                <h2>Symfony Live Berlin 2014</h2>

                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <a class="btn btn-primary btn-lg" href="{{ url('search_index') }}">Fulltext Search</a>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-primary btn-lg" href="{{ url('search_hydration') }}">Object-Hydration</a>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-primary btn-lg" href="{{ url('article_list', {'sortBy':'id'}) }}">Sorted list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
